.login{
    height: 100vh;
    background-image:linear-gradient(#0000007e, #000000b0) , url(/background_banner.jpg);
    padding: 20px 8%;
}
.login-logo{
    width: 150px;
}
.background-color {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.555);
  }
.SignIn-page {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .SignIn-container {
    border: 1px solid black;
    border-radius: 5px;
    width: 40%;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.658);
  }
  @media only screen and (max-width: 600px) {
    .SignIn-container {
      border: 1px solid black;
      border-radius: 5px;
      width: 80%;
      height: fit-content;
      background-color: rgba(0, 0, 0, 0.658);
    }
  }
  .SignIn-form {
    padding: 50px 50px;
  }
  .SignIn-form h1 {
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
  }
  .SignIn-form input {
    display: block;
    width: 94%;
    height: 50px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px;
    border-color: rgba(240, 248, 255, 0.596);
    background-color: rgba(70, 68, 68, 0.603);
    padding-left: 20px;
    font-size: 15px;
    color: rgba(240, 248, 255, 0.705);
  }
  .SignIn-form .errorMessage {
    color: red;
    text-align: center;
    margin-bottom: 20px;
  }
  .SignIn-form button {
    width: 100%;
    height: 50px;
    border-style: none;
    border-radius: 5px;
    background-color: rgba(255, 0, 0, 0.795);
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .SignIn-form button:hover {
    background-color: red;
  }
  .SignIn-or-SignUp {
    color: white;
  }
  .SignIn-or-SignUp a {
    text-decoration: underline;
    cursor: pointer;
    color: red;
  }
.login-spinner{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.login-spinner img{
    width: 60px;
}
@media(max-width:500px){
    .login{
        padding: 15px 5%;
    }
    .login-form{
        padding: 20px;
        margin-top: 30px;
    }
}